[Desktop Entry]
Name=Folder Color

Encoding=UTF-8
Version=1.7
Icon=folder-cyan
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;

X-KDE-Submenu=Folder Color
X-KDE-Submenu[es]=Color
X-KDE-Submenu[fr]=Dossier de couleur
X-KDE-Submenu[it]=Cartella colori
X-KDE-Submenu[pt]=Pasta Cor
X-KDE-Submenu[pt_BR]=Cor da pasta
X-KDE-Submenu[de]=Farbe Ordner
X-KDE-Submenu[pl]=Kolor katalogu
X-KDE-Submenu[ru]=Цвет папки
X-KDE-Priority=TopLevel

Actions=custom-icon;random-icon;_SEPARATOR_;folder-default;folder-grey;folder-yellow;folder-cyan;folder-blue;folder-green;folder-orange;folder-red;folder-magenta;folder-violet;folder-brown;folder-black;_SEPARATOR_;user-home;folder-documents;folder-download;folder-images;folder-sound;folder-videos;folder-text;folder-network;folder-development;folder-bookmark;folder-favorites;

[Desktop Action custom-icon]
Name=Custom icon
Name[es]=Icono personalizado
Name[fr]=Icône personnalisée
Name[it]=Icona Personalizzata
Name[pt]=Ícone personalizado
Name[pt_BR]=Ícone personalizado
Name[de]=Custom Icon
Name[pl]=Personalizacja ikon
Name[ru]=Пользовательская иконка
Icon=colors-chromared
Exec=dolphin-folder-color.sh --custom %U

[Desktop Action random-icon]
Name=Random
Name[es]=Aleatorio
Name[fr]=aleatória
Name[it]=Casuale
Name[pt]=Aleatória
Name[pt_BR]=Aleatória
Name[de]=Zufällig
Name[pl]=Losowy
Name[ru]=Произвольный цвет
Exec=dolphin-folder-color.sh --random %U

#########################################

[Desktop Action folder-default]
Name=Default
Name[es]=Predeterminado
Name[fr]=Défaut
Name[it]=Difetto
Name[pt]=Omissão
Name[pt_BR]=Padrão
Name[de]=Default
Name[pl]=Domyślny
Name[ru]=По умолчанию
Icon=folder
Exec=dolphin-folder-color.sh default %U

[Desktop Action folder-grey]
Name=Grey
Name[es]=Gris
Name[fr]=Gris
Name[it]=Grigio
Name[pt]=Cinzento
Name[pt_BR]=Cinza
Name[de]=Grau
Name[pl]=Szary
Name[ru]=Серый
Icon=folder-grey
Exec=dolphin-folder-color.sh grey %U

[Desktop Action folder-yellow]
Name=Yellow
Name[es]=Amarillo
Name[fr]=Jaune
Name[it]=Giallo
Name[pt]=Amarelo
Name[pt_BR]=Amarela
Name[de]=Gelb
Name[pl]=Żółty
Name[ru]=Жёлтый
Icon=folder-yellow
Exec=dolphin-folder-color.sh yellow %U

[Desktop Action folder-cyan]
Name=Cyan
Name[es]=Cian
Name[fr]=Cyan
Name[it]=Ciano
Name[pt]=Ciano
Name[pt_BR]=Ciano
Name[de]=Cyan
Name[pl]=Cyjan
Name[ru]=Голубой
Icon=folder-cyan
Exec=dolphin-folder-color.sh cyan %U

[Desktop Action folder-blue]
Name=Blue
Name[es]=Azul
Name[fr]=Bleu
Name[it]=Blu
Name[pt]=Azul
Name[pt_BR]=Azul
Name[de]=Blau
Name[pl]=Niebieski
Name[ru]=Синий
Icon=folder-blue
Exec=dolphin-folder-color.sh blue %U

[Desktop Action folder-green]
Name=Green
Name[es]=Verde
Name[fr]=Vert
Name[it]=Verde
Name[pt]=Verde
Name[pt_BR]=Verde
Name[de]=Grün
Name[pl]=Zielony
Name[ru]=Зелёный
Icon=folder-green
Exec=dolphin-folder-color.sh green %U

[Desktop Action folder-orange]
Name=Orange
Name[es]=Naranja
Name[fr]=Orange
Name[it]=Arancione
Name[pt]=Laranja
Name[pt_BR]=Laranja
Name[de]=Orange
Name[pl]=Pomarańczowy
Name[ru]=Оранжевый
Icon=folder-orange
Exec=dolphin-folder-color.sh orange %U

[Desktop Action folder-red]
Name=Red
Name[es]=Rojo
Name[fr]=Rouge
Name[it]=Rosso
Name[pt]=Vermelho
Name[pt_BR]=Vermelha
Name[de]=Rot
Name[pl]=Czerwony
Name[ru]=Красный
Icon=folder-red
Exec=dolphin-folder-color.sh red %U

[Desktop Action folder-magenta]
Name=Magenta
Name[es]=Magenta
Name[fr]=Magenta
Name[it]=Magenta
Name[pt]=Magenta
Name[pt_BR]=Magenta
Name[de]=Magenta
Name[pl]=Fuksyna
Name[ru]=Пурпурный
Icon=folder-magenta
Exec=dolphin-folder-color.sh magenta %U

[Desktop Action folder-violet]
Name=Violet
Name[es]=Violeta
Name[fr]=Violet
Name[it]=Viola
Name[pt]=Violeta
Name[pt_BR]=Violeta
Name[de]=Violett
Name[pl]=Fioletowy
Name[ru]=Фиолетовый
Icon=folder-violet
Exec=dolphin-folder-color.sh violet %U

[Desktop Action folder-brown]
Name=Brown
Name[es]=Marrón
Name[fr]=Brun
Name[it]=Marrone
Name[pt]=Marrom
Name[pt_BR]=Marrom
Name[de]=Braun
Name[pl]=Brązowy
Name[ru]=Коричневый
Icon=folder-brown
Exec=dolphin-folder-color.sh brown %U

[Desktop Action folder-black]
Name=Black
Name[es]=Negro
Name[fr]=Noir
Name[it]=Nero
Name[pt]=Preto
Name[pt_BR]=Preta
Name[de]=Schwarz
Name[pl]=Czarny
Name[ru]=Чёрный
Icon=folder-black
Exec=dolphin-folder-color.sh black %U

#########################################

[Desktop Action user-home]
Name=Home
Name[es]=Home
Name[fr]=Home
Name[it]=Home
Name[pt]=Home
Name[pt_BR]=Home
Name[de]=Home
Name[pl]=Katalog domowy
Name[ru]=Домашняя папка
Icon=user-home
Exec=dolphin-folder-color.sh user-home %U

[Desktop Action folder-documents]
Name=Documents
Name[es]=Documentos
Name[fr]=Documents
Name[it]=Documentazione
Name[pt]=Documentos
Name[pt_BR]=Documentos
Name[de]=Unterlagen
Name[pl]=Dokumenty
Name[ru]=Документы
Icon=folder-documents
Exec=dolphin-folder-color.sh documents %U

[Desktop Action folder-download]
Name=Downloads
Name[es]=Descargas
Name[fr]=Téléchargements
Name[it]=Download
Name[pt]=Download
Name[pt_BR]=Downloads
Name[de]=Downloads
Name[pl]=Pobrane
Name[ru]=Загрузки
Icon=folder-download
Exec=dolphin-folder-color.sh download %U

[Desktop Action folder-images]
Name=Image
Name[es]=Imágenes
Name[fr]=Image
Name[it]=Immagine
Name[pt]=Imagem
Name[pt_BR]=Imagens
Name[de]=Bild
Name[pl]=Obrazy
Name[ru]=Изображения
Icon=folder-images
Exec=dolphin-folder-color.sh images %U

[Desktop Action folder-sound]
Name=Sound
Name[es]=Sonido
Name[fr]=Son
Name[it]=Suono
Name[pt]=Parecer
Name[pt_BR]=Áudio
Name[de]=Klingen
Name[pl]=Muzyka
Name[ru]=Музыка
Icon=folder-sound
Exec=dolphin-folder-color.sh sound %U

[Desktop Action folder-videos]
Name=Video
Name[es]=Video
Name[fr]=Vidéo
Name[it]=Video
Name[pt]=Vídeo
Name[pt_BR]=Vídeo
Name[de]=Video
Name[pl]=Wideo
Name[ru]=Видео
Icon=folder-videos
Exec=dolphin-folder-color.sh videos %U

[Desktop Action folder-text]
Name=Text
Name[es]=Texto
Name[fr]=Text
Name[it]=Testo
Name[pt]=Texto
Name[pt_BR]=Texto
name[de]=Text
name[pl]=Tekst
Name[ru]=Текст
Icon=folder-text
Exec=dolphin-folder-color.sh text %U

[Desktop Action folder-network]
Name=Network
Name[es]=Red
Name[fr]=Réseau
Name[it]=Rete
Name[pt]=Rede
Name[pt_BR]=Rede
Name[de]=Netzwerk
Name[pl]=Sieć
Name[ru]=Сеть
Icon=folder-network
Exec=dolphin-folder-color.sh network %U

[Desktop Action folder-development]
Name=Development
Name[es]=Desarrollo
Name[fr]=Développement
Name[it]=Sviluppo
Name[pt]=Desenvolvimento
Name[pt_BR]=Desenvolvimento
Name[de]=Entwicklung
Name[pl]=Programowanie
Name[ru]=Разработка
Icon=folder-development
Exec=dolphin-folder-color.sh development %U

[Desktop Action folder-bookmark]
Name=Bookmark
Name[es]=Marcadores
Name[fr]=Bookmark
Name[it]=Bookmark
Name[pt]=Bookmark
Name[pt_BR]=Marcador
Name[de]=Bookmark
Name[pl]=Zakładki
Name[ru]=Закладки
Icon=folder-bookmark
Exec=dolphin-folder-color.sh bookmark %U

[Desktop Action folder-favorites]
Name=Favorites
Name[es]=Favoritos
Name[fr]=Favoris
Name[it]=Preferiti
Name[pt]=Favoritos
Name[pt_BR]=Favoritos
Name[de]=Favoriten
Name[pl]=Ulubione
Name[ru]=Избранное
Icon=folder-favorites
Exec=dolphin-folder-color.sh favorites %U
